<html>
    <head>
        <title><%= title  %></title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1><%= title  %></h1>
        <form action="/task" method="post">
            <input type="text" name="title" placeholder="Titre de la tâche" autofocus required>
            <button type="submit">Ajouter</button>
        </form>
        <ul>
            <% tasks.forEach(function(task, idx) { %>
                <li>
                <% if (task.done) { %>
                        <s>
                            <%= task.title %>
                        </s> 
                        |
                        <a href="/task/<%= idx %>/delete">Annuler</a>
                   
                <% } else { %>
               
                    <%= task.title %> 
                    |
                    <a href="/task/<%= idx %>/done">Terminé</a>
               
                <% } %>
            <% }); %>
        </li>
        </ul>
        
    </body>
</html>